<%
  set_meta_tags :title => 'Contáctanos',
                :description => 'Buscar, compra y vende autos de manera mas fácil',
                :keywords => 'autos seminuevos, autos usados, seminuevos mexico, seminuevos'
%>
<div class="container contacto">
	<div class="row large-10">
		<!-- Contact Details -->
    <div class="large-5 columns">
      <h3>Contáctanos!</h3>
      <p>Nos gustaría saber que piensas sobre el sitio.</p>
      <p>Si te interesa anunciarte en <em><b>autopy.com</b></em> mándanos tu información y nosotros
      	nos comunicaremos con usted.</p>
 
      <div class="section-container" data-section>
	        <section class="section">
	          
	            <%= form_tag("/contacto/send", method: "post") do %>
	              <div class="row collapse">
	                <div class="large-2 columns">
	                  <label class="inline">Nombre</label>
	                </div>
	                <div class="large-10 columns">
	                	<%= text_field(:contacto, :name, :placeholder => "José Luis Hernández") %>
	                </div>
	              </div>
	              <div class="row collapse">
	                <div class="large-2 columns">
	                  <label class="inline"> Email</label>
	                </div>
	                <div class="large-10 columns">
	                	<%= email_field(:contacto, :email, :placeholder => "joseluishdz@correo.com") %>
	               
	                </div>
	              </div>
	              <label>Información</label>
	              <%= text_area(:contacto, :message, :rows => "4") %>
	     
	              <button type="submit" class="radius button">Submit</button>
	            <% end %>
	        
	        </section>
	    </div>
		</div>
	</div>
</div>