<footer class="row">
  <div class="large-10 container"><hr />
    <div class="columns">
      
      <div class="large-6 columns">
        <p>&copy; robzdc.</p>
      </div>
      
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Buscar</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</footer>