<nav class="top-bar">
  <div class="large-10 container">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
          <%= link_to image_tag("autly.png", :width=>120), root_path %>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
  </div>
</nav>

<div class="row second-bar">
  <div class="large-10 container">
    <div class="small-8 columns"><h1>Busca, compra y vende autos mas fácil</h1></div>
    <div class="large-2 columns location"></div>
    <a href="#" id="new-advertise" class="button right">Anúnciate</a>
  </div>
</div>