<nav class="top-bar">
  <div class="large-10 container">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        
          <a href="#">
            <img src="/assets/autly.png" width="120" />
          </a>
        
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
  </div>
</nav>

<div class="row second-bar">
  <div class="large-10 container">
    <div class="small-8 columns"><h2>Busca, compra y vende mas fácil</h2></div>
    <div class="large-2 columns location"></div>
    <a href="#" id="new-advertise" class="button right">Anúnciate</a>
  </div>
</div>