<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li <%= is_active?('index') %> ><a href="/">Home</a></li>
    <li <%= is_active?('search') %> ><a href="search">Search</a></li>
    <li <%= is_active?('contact') %> ><a href="#">Contact</a></li>
  </ul>
  <h3 class="muted">autoMobile</h3>
</div>