<!-- Navigation -->
 
<%= render "partials/header" %> 

<!-- End Top Bar -->

<!-- Map -->
<div class="row big-map">
  <script>
    /*var map;
    var d = new Date();
    var curr_date = ("0" + d.getDate()).slice(-2);
    var curr_month = ("0" + (d.getMonth() + 1)).slice(-2); //Months are zero based
    var curr_year = d.getFullYear();
    var date = curr_year+""+curr_month+""+curr_date;
    
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        zoom: 14,
        lat: 25.67693,
        lng: -100.31370,
        scrollwheel: false
      });
            
      function car_dealer(lat,long){
       //Foursquare venues
        var markers_data = [];
        var ll = lat+","+long;
        var icon = 'https://foursquare.com/img/categories_v2/shops/automotive_bg_32.png';
        var xhr = $.getJSON('https://api.foursquare.com/v2/venues/search',{ll:ll,v:date,categoryId:"4eb1c1623b7b52c0e1adc2ec",llAcc:200,locale:"es",client_id:"WWBWOFXGX5MRMIVEJINE5RNTMYM0YJR2WJLIG2QG4YCN3UF0",client_secret:"5UPJJRHL02RKW0Y0MJHSTH2N2CJGQHUDLUZTSJHP51VCOJLS"},function(data){
          var venues = xhr.responseJSON.response.venues;
         
          $.each(venues, function(index, value){
            var address = (typeof value.location.address == "undefined" ? "":value.location.address);
            var phone = (typeof value.contact.phone == "undefined" ? "":value.contact.phone);
            var crosstreet = (typeof value.location.crossStreet == "undefined" ? "":value.location.crossStreet);
            markers_data.push({
              lat : value.location.lat,
              lng : value.location.lng,
              title : value.name,
              icon : {
                size : new google.maps.Size(32, 32),
                url : icon
              },
              infoWindow: {
                content: '<h4>'+value.name+'</h4><p>'+address+'</p><p>'+phone+'</p><p>'+crosstreet+'</p>'
              }
            });
          });
          map.addMarkers(markers_data);
          
        }); 
      }
      
      function car_shop(lat,long){
       //Foursquare venues
        var markers_data = [];
        var ll = lat+","+long;
        var icon = 'https://foursquare.com/img/categories_v2/shops/automotive_bg_32.png';
        var xhr = $.getJSON('https://api.foursquare.com/v2/venues/search',{ll:ll,v:date,categoryId:"4bf58dd8d48988d124951735",llAcc:200,locale:"es",client_id:"WWBWOFXGX5MRMIVEJINE5RNTMYM0YJR2WJLIG2QG4YCN3UF0",client_secret:"5UPJJRHL02RKW0Y0MJHSTH2N2CJGQHUDLUZTSJHP51VCOJLS"},function(data){
          var venues = xhr.responseJSON.response.venues;
         
          $.each(venues, function(index, value){
            var address = (typeof value.location.address == "undefined" ? "":value.location.address);
            var phone = (typeof value.contact.phone == "undefined" ? "":value.contact.phone);
            var crosstreet = (typeof value.location.crossStreet == "undefined" ? "":value.location.crossStreet);
            markers_data.push({
              lat : value.location.lat,
              lng : value.location.lng,
              title : value.name,
              icon : {
                size : new google.maps.Size(32, 32),
                url : icon
              },
              infoWindow: {
                content: '<h4>'+value.name+'</h4><p>'+address+'</p><p>'+phone+'</p><p>'+crosstreet+'</p>'
              }
            });
          });
          map.addMarkers(markers_data);
          
        }); 
      }
      
      function car_wash(lat,long){
       //Foursquare venues
        var markers_data = [];
        var ll = lat+","+long;
        var icon = 'https://foursquare.com/img/categories_v2/shops/carwash_bg_32.png';
        var xhr = $.getJSON('https://api.foursquare.com/v2/venues/search',{ll:ll,v:date,categoryId:"4f04ae1f2fb6e1c99f3db0ba",llAcc:200,locale:"es",client_id:"WWBWOFXGX5MRMIVEJINE5RNTMYM0YJR2WJLIG2QG4YCN3UF0",client_secret:"5UPJJRHL02RKW0Y0MJHSTH2N2CJGQHUDLUZTSJHP51VCOJLS"},function(data){
          var venues = xhr.responseJSON.response.venues;
         
          $.each(venues, function(index, value){
            var address = (typeof value.location.address == "undefined" ? "":value.location.address);
            var phone = (typeof value.contact.phone == "undefined" ? "":value.contact.phone);
            var crosstreet = (typeof value.location.crossStreet == "undefined" ? "":value.location.crossStreet);
            markers_data.push({
              lat : value.location.lat,
              lng : value.location.lng,
              title : value.name,
              icon : {
                size : new google.maps.Size(32, 32),
                url : icon
              },
           
              infoWindow: {
                content: '<h4>'+value.name+'</h4><p>'+address+'</p><p>'+phone+'</p><p>'+crosstreet+'</p>'
              }
            });
          });
          map.addMarkers(markers_data);
          
        }); 
      }
      
      function my_location(lat,long){
          var my_location = [];
          var icon = "https://ss0.4sqi.net/img/centerpoint-139fa4e52a9ccf65cb108a3b402e3bf1.png"
          my_location.push({
            lat : latitud,
            lng : longitud,
            title : "Mi posición",
            icon : {
              size : new google.maps.Size(24, 24),
              url : icon
            }
          });
      
          map.addMarkers(my_location);
      }
    
      GMaps.geolocate({
        success: function(position) {
          latitud = position.coords.latitude;
          longitud = position.coords.longitude;
          map.setCenter(position.coords.latitude, position.coords.longitude);
          
          my_location(latitud,longitud);
          car_shop(latitud,longitud);
          car_dealer(latitud,longitud);
          car_wash(latitud,longitud);
               
        },
        error: function(error) {
          alert('Geolocation failed: '+error.message);
        },
        not_supported: function() {
          alert("Your browser does not support geolocation");
        },
        always: function() {
          $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?latlng="+latitud+","+longitud+"&sensor=true",function(data){
           
            var location = data.results[0].address_components[4].long_name+", "+data.results[0].address_components[5].short_name;
            $(".second-bar .location").text(location);
            $("#state option:contains('"+data.results[0].address_components[5].long_name+"')").prop("selected",true);
          });
        }
      });
   });*/
  </script>
  <div id="map"></div>

  <%= render partial: "partials/form", locals: {marcas: @marcas, states: @states} %>
    
</div>

<!-- End map -->

<div class="row after-map">
<div class="large-10 container">
  
  <div class="large-12 advert-row">
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
    
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
    
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
    
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
  </div>
  
  <div class="large-12">
    <section>
      <div class="large-5 columns">
        <h1>Autos seminuevos de Agencias y Lotes certificados</1>
        <p>
          Venta de autos usados y seminuevos en Mexico
        </p>
      </div>
      <div class="large-5 columns">
        <h1>Autos nuevos y autos ussados</1>
        <p>
          Encuentra autos y camionetas usadas, nuevas y seminuevas de todas marcas y modelos en venta.
        </p>
      </div>
    </section>
  </div>
  
</div>
</div>

<!-- Footer -->

<%= render "partials/footer" %> 