<!-- Map -->
<div class="row big-map">
  <div id="map">
  	<div id="featured" data-orbit>
	  <div>
	    <img src="http://www.cmdl.com.hk/images/en/home-banner-130422.jpg" />
	  </div>
	  <div>
	    <img src="http://revimedia.com/offers/wp-content/uploads/2010/09/1-page-v2-LIGHTER-button1.jpg" />
	  </div>
	  <div>
	    <img src="http://ww1.prweb.com/prfiles/2013/06/30/11081327/Diminished%20Value%20of%20Georgia%20Loss%20in%20Value%20Banner.jpg" />
	  </div>
	</div>
  </div>

  <%= render partial: "partials/form", locals: {marcas: @marcas, states: @states} %>
    
</div>

<!-- End map -->

<div class="row after-map">
<div class="large-10 container">
  
  <div class="large-12 advert-row">
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
    
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
    
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
    
    <div class="small-3 columns">
      <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
    </div>
  </div>
  
</div>
</div>

<div class="row third-row">
  <div class="large-10">
      <section>
        <div class="large-5 columns">
          <h1>Busca y encuentra</h1>
          <p>
            En <b>autopy.com</b> te facilitamos la busqueda de ese auto que quieres estrenar.<br />
            Busca miles de anuncios en México en una sola pagina.
          </p>
        </div>
        <div class="large-5 columns">
          <h1>Próximamente</h1>
          <p>
            <ul>
              <li>Encuentra el mejor seguro para tu auto.</li>
              <li>Encuentra el mejor lugar para rentar un auto en México.</li>
            </ul>
          </p>
        </div>
      </section>
    </div>
</div>