

<!-- Navigation -->
 
<%= render "partials/header" %> 

<!-- End Top Bar -->

<!-- Map -->
<div class="row big-map">
  <script>
    var map;
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        zoom: 14,
        lat: 25.67693,
        lng: -100.31370,
        scrollwheel: false
      });
    });
  </script>
  <div id="map"></div>

  <%= render partial: "partials/form", locals: {marcas: @marcas, states: @states} %>
    
</div>

<!-- End map -->

<div class="row after-map">
<div class="large-10 container">
  
  <div class="large-12">
    <div class="large-3 columns">
      <img src="http://placehold.it/600x500/A7DBD8/&text=Thumbnail">
    </div>
    
    <div class="large-3 columns">
      <img src="http://placehold.it/600x500/A7DBD8/&text=Thumbnail">
    </div>
    
    <div class="large-3 columns">
      <img src="http://placehold.it/600x500/A7DBD8/&text=Thumbnail">
    </div>
    
    <div class="large-3 columns">
      <img src="http://placehold.it/600x500/A7DBD8&text=Thumbnail">
    </div>
  </div>
  
  <div class="large-12">
    
  </div>
  
</div>
</div>

<!-- Footer -->

<%= render "partials/footer" %> 