<%
  set_meta_tags :title => 'Busca, compra y vende autos mas fácil',
                :description => 'Buscar, compra y vende autos de manera mas fácil',
                :keywords => 'autos seminuevos, autos usados, seminuevos mexico, seminuevos, autos'
%>
<!-- Map -->
<div class="row big-map">
  <div id="map">
  	<div id="featured" data-orbit>
	  <div>
	    <img src="http://placehold.it/1100x600/A7DBD8/&text=Anúnciate .1">
	  </div>
	  <div>
	    <img src="http://placehold.it/1100x600/A7DBD8/&text=Anúnciate .2">
	  </div>
	  <div>
	    <img src="http://placehold.it/1100x600/A7DBD8/&text=Anúnciate .3">
	  </div>
	</div>
  </div>

  <%= render partial: "partials/form", locals: {marcas: @marcas, states: @states} %>
    
</div>

<!-- End map -->

<div class="row after-map">
<div class="large-10 container">
  
  <div class="large-12 advert-row">
    <div class="small-3 columns">
      <% if Rails.env == "production" %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Homepage - 1st -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-3810811841708456"
             data-ad-slot="9170037394"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <% else %>
        <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
      <% end %>
    </div>
    
    <div class="small-3 columns">
      <% if Rails.env == "production" %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Homepage - 2nd -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-3810811841708456"
             data-ad-slot="6213873397"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <% else %>
        <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
      <% end %>
    </div>
    
    <div class="small-3 columns">
      <% if Rails.env == "production" %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Homepage - 3th -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-3810811841708456"
             data-ad-slot="7690606595"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <% else %>
        <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
      <% end %>
    </div>
    
    <div class="small-3 columns">
      <% if Rails.env == "production" %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Homepage - 4th -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-3810811841708456"
             data-ad-slot="8890835797"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <% else %>
        <img src="http://placehold.it/250x250/A7DBD8/&text=Ads">
      <% end %>
    </div>
  </div>
  
</div>
</div>

<div class="row third-row">
  <div class="large-10">
      <section class="columns">
        <div class="large-5 columns">
          <h1>Busca y encuentra</h1>
          <p>
            En <b>autobúscalo.com</b> te facilitamos la busqueda de ese auto que quieres estrenar.<br />
            Busca miles de anuncios en México en una sola pagina.
          </p>
        </div>
        <div class="large-5 columns">
          <h1>Seminuevos</h1>
          <ul class="small-block-grid-2 large-block-grid-3">
            <% @random.each do |random| %>
              <li><%= link_to image_tag(random[1], :width => 150), random[2], :class => "th" %></li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
</div>