.second-bar{
 max-width: 100%; background-color: #E5E7DA; position:relative 
}

.second-bar .container{
  margin-top: 17px;
}

.second-bar h1{
  text-transform: uppercase;
  font-weight: bolder; font-size:25px;
  color: #555;
}

.second-bar .location{
  color: #555;
}

.container{
  margin:auto;
}

.container .large-12{
  margin-top:30px; 
  max-width:100%;;
}

.container .large-12 .large-3{
  padding-bottom: 10px;
}

